{
    "db": {
        "type"                          : "sqlite"
    },
    "garmin": {
        "domain"                        : "garmin.com"
    },
    "credentials": {
        "user"                          : "",
        "secure_password"               : false,
        "password"                      : "",
        "password_file"                 : null
    },
    "data": {
        "weight_start_date"             : "12/31/2019",
        "sleep_start_date"              : "12/31/2019",
        "rhr_start_date"                : "12/31/2019",
        "hrv_start_date"                : "12/31/2019",
        "training_status_start_date"    : "12/31/2019",
        "endurance_score_start_date"    : "12/31/2019",
        "hill_score_start_date"         : "12/31/2019",
        "lactate_threshold_start_date"  : "12/31/2019",
        "body_battery_start_date"       : "12/31/2019",
        "body_composition_start_date"   : "12/31/2019",
        "fitness_age_start_date"        : "12/31/2019",
        "running_predictions_start_date": "12/31/2019",
        "monitoring_start_date"         : "12/31/2019",
        "download_latest_activities"    : 25,
        "download_all_activities"       : 1000
    },
    "directories": {
        "relative_to_home"              : true,
        "base_dir"                      : "HealthData",
        "mount_dir"                     : "/Volumes/GARMIN"
    },
    "enabled_stats": {
        "monitoring"                    : true,
        "steps"                         : true,
        "itime"                         : true,
        "sleep"                         : true,
        "rhr"                           : true,
        "hrv"                           : true,
        "training_readiness"            : true,
        "training_status"               : false,
        "endurance_score"               : false,
        "hill_score"                    : false,
        "lactate_threshold"             : false,
        "body_battery"                  : false,
        "body_composition"              : false,
        "fitness_age"                   : false,
        "running_predictions"           : false,
        "weight"                        : true,
        "activities"                    : true
    },
    "course_views": {
        "steps"                         : []
    },
    "modes": {
    },
    "activities": {
        "display"                       : []
    },
    "settings": {
        "metric"                        : false,
        "default_display_activities"    : ["walking", "running", "cycling"]
    },
    "checkup": {
        "look_back_days"                : 90
    }
}
